@media(min-width: 340px){

    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    
    .contenido{
        background-color: rgb(243, 238, 238);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100vh;
    }
    
    .icono-login-circulo{
        font-size: 60px;
        background-color: #8EC5FC;
        background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    
        width: 330px;
        height: 150px;
        border-radius: 20px;
    
        display: flex;
        justify-content: center;
        align-items: center;
    
        margin-bottom: 15px;
    
    }

    form{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    input{
        width: 320px;
    
    }
    
    .titulo_y_select{
        background-color: rgb(242, 239, 234);
        border-radius: 15px;
        border: rgb(114, 212, 181) solid 5px;
    
        margin-bottom: 10px;
    }
    
    button{
        width: 320px;
        height: 50px;
    }

}