@media(min-width: 340px){

    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    
    .contenido{
        background-color: rgb(243, 238, 238);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100vh;
    }
    
    .icono-login-circulo{
        font-size: 70px;
        background-color: #8EC5FC;
        background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    
        width: 250px;
        height: 250px;
        border-radius: 100%;
    
        display: flex;
        justify-content: center;
        align-items: center;
    
        margin-bottom: 15px;
    
    }
    
    form{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    input{
        width: 260px;
    
    }
    
    button{
        width: 260px;
        height: 50px;
    }

}