<div class="contenido">

    <div *ngIf = "!mostrar_carga" class = "icono-login-circulo">
        <i class="fa-solid fa-users"></i>
    </div>

    <form *ngIf = "!mostrar_carga" (submit) = "restablecer_password()" [formGroup] = "recuperar_password">

        <div class="form-floating mb-3">
    
          <input type="email" formControlName = "email" placeholder = "Ingrese su email" class="form-control">
          <label class="form-label">Ingrese su email</label>

          <span
          *ngIf = "this.recuperar_password.controls['email'].touched && this.recuperar_password.value.email.length == 0" 
          class="text-danger">Debe escribir un correo</span>

          <p
          
          *ngIf = "this.recuperar_password.controls['email'].status == 'INVALID' && this.recuperar_password.value.email.length > 0 && this.recuperar_password.controls['email'].touched" 
          class="text-danger">
            El correo es inválido
          </p>

        </div>

        <button [disabled] = "this.recuperar_password.controls['email'].status == 'INVALID'" type="submit" class="btn btn-primary">Recuperar</button>
    </form>
    
    <a *ngIf = "!mostrar_carga" style = "margin-top: 20px;" routerLink = "/login">Volver</a>
   

    <app-spinner *ngIf = "mostrar_carga">

    </app-spinner>

</div>

