@media(min-width: 800px){
    
    .encabezado{
      flex-direction: row;
      justify-content: space-between;

      border-bottom: 2.5px solid rgb(198, 197, 197);
      border-radius: 10px;

      margin-bottom: 15px;

      width: auto;

      height: 70px;
    }
  
    .pizza_admin{
        background-color: rgb(255, 255, 179);
        margin-left: 10px;
    
        font-size: 20px;
        border-radius: 20px;
    }


    .input_y_buscar{
         display: flex;
         align-items: center;
    }


    .borrador_y_buscador{
        display: flex;
        align-items: center;
        cursor: pointer;

        width: 0px;
    
        transition: .8s ease all;

    }


    .mostrar_borrador_y_buscador{

        width: 545px;

        transition: .8s ease all;

        display: flex;
        align-items: center;
        cursor: pointer;

        

    }


    .borrar_texto_buscador{
        
        display: none;

    }

    .mostrar_borrar_texto_buscador{

        font-size: 25px;

        width: 35px;
        height: 35px;
        border-radius: 100%;

        background-color: #ff5739;
        

        display: flex;
        justify-content: center;
        align-items: center;

    }


    .escribir_buscar{

       display: none;
       transition: .8s ease all;
        
    
        
    }

    .mostrar_escribir_buscar{

        display: block;

        margin-left: 10px;

        border-radius: 30px;
        border: 4px solid #FBAB7E ;

        outline: none;
        padding-left: 10px;

        width: 500px;

        position: relative;
       
        transition: .8s ease all;


    }

    .sugerencia_buscador{
        
        position: absolute;

        margin-left: 10px;

        width: 500px;

        height: auto;

        border: solid 2px rgb(202, 201, 201);
        border-radius: 10px;

        background-color: white;

        padding: 10px;
    }

    .pizza_sugerencia{

        margin-top: 12px;
        margin-bottom: 12px;
        height: 35px;

    }

    .icono_buscar{
        
        margin-left: 10px;

        font-size: 25px;
        
        width: 35px;
        height: 35px;
        border-radius: 100%;

        background-color: #FBAB7E;
        background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);

        display: flex;
        justify-content: center;
        align-items: center;

        cursor: pointer;

    }
    
   

    .contenido_pizzas{
        display: grid;
        grid-template-columns: 330px 330px;
    
        justify-content: center;
        align-items: center;
    }
    
    .estilo_pizza{
        border: solid 5px rgb(244, 247, 159);
        border-radius: 20px;
        width: 310px;
        height: auto;
    
        margin-bottom: 20px;
    
        background-image: radial-gradient( circle 400px at 6.8% 8.3%,  rgba(255,244,169,1) 0%, rgba(255,244,234,1) 100.2% );
    
    
    
    
    
    }
    
    .imagen_pizza{
        width: 300px;
        height: 300px;
        border-radius: 20px;
        
    }



    .carrito_compras_y_cerrar_sesion{
        display: flex;
        justify-content: flex-start;
        align-items: center;

    }

    
    .barra_carrito{
        position: absolute;
        background-color: rgb(229, 229, 229);
        width: 0;
        height: 90vh;
    
        border-radius: 20px;
    
        right: 0;
        top: 70.4px;
    
        overflow: hidden;
        overflow-y: scroll;
    
        transition: 0.5s ease all;
    
    }
    
    .ver_carrito_pizza{
        width: 280px;
    
        transition: 0.5s ease all;
    }
    
    .centrar_pizzas_carrito{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        margin-top: 10px;
    }
    
    .pizza_en_carrito{
        width: 250px;
        height: auto;
        background-color: rgb(255, 253, 253);
        border: solid 4px rgb(214, 214, 214);
        border-radius: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
    
        
    }
    
    .centrar_imagen_carrito_pizza{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .imagen_pizza_carrito{
        width: 200px;
        height: 200px;
        border-radius: 20px;
    }
    }